.codex-editor__redactor {
    padding: 0 !important;
    margin: 0 !important;
}

//.ce-block__content {
//margin: 0;
//}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 1rem;
    animation: fadeOut 0.5s;
    background-color: beige;

    &__view,
    &__edit {
        min-height: 5rem;
        background-color: beige;
        padding: 2rem;
        border-radius: 0.6rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__buttons {
            display: flex;
            align-items: flex-start;
            gap: 0.6rem;

            &__btn {
                padding: 0.4rem 0.8rem;
                font-weight: bold;

                &--update {
                    background-color: cadetblue;
                    color: #eee;
                }

                &--delete {
                    background-color: #aa1111;
                    color: #eee;
                }

                &--cancel {
                    background-color: #888;
                    color: #eee;
                }

                &--edit {
                    background-color: #3333aa;
                    color: #eee;
                }

                &--save {
                    background-color: #11aa11;
                    color: #eee;
                }

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }

        //&__date {}
    }

    &__container {
        width: 100%;
        display: flex;

        &__editorjs {
            flex-grow: 1;
        }

        &__buttons {
            padding: 0.6rem 0;
        }
    }
}
